.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #0d0d0d;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 200px 1fr;
  place-items: center;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 100%;
  max-width: 736px;
  margin-top: -1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.3rem;
  padding: 1rem;
}

.listHeader {
  width: 100%;
}

.listHeader > form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.listHeader > form .listInputNewTask {
  width: 100%;
  background: #262626;
  padding: 1rem;
  border-radius: 8px;
  color: #f2f2f2;
  border: 1px solid transparent;
  transition: border 0.2s;
}

.listHeader > form .listInputNewTask::placeholder {
  color: #808080;
}

.listHeader > form .listInputNewTask:focus {
  border: 1px solid #5e60ce !important;
}

.listHeader > form .listButtonNewTask {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 0.5rem;
  background: #1e6f9f;
  border-radius: 8px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  border: 0;
  transition: background 0.2s;
}

.listHeader > form .listButtonNewTask:hover {
  background: #4ea8de;
}

.listContent {
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.listContentHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listCreatedTaskCounter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: bold;
  color: #4ea8de;
}

.listCreatedTaskCounter > span {
  width: 2rem;
  height: 1.3rem;
  padding: 2px 8px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background: #333333;
  color:  #d9d9d9;
}

.listDoneTaskCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: bold;
  color: #8284fa;
}

.listDoneTaskCounter > span {
  width: fit-content;
  height: 1.3rem;
  padding: 2px 8px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background: #333333;
  color: #d9d9d9;
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #808080;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
}

.listItemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listItem {
  display: flex;
  align-items: flex-start;
  background: #333333;
  gap: 0.75rem;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
}

.listItem:not(:first-child) {
  margin-top: 0.75rem;
}

.listItemToggle,
.listItemToggleSelected {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 999px;
}

.listItemToggle {
  border: 2px solid #4ea8de;
  background: none;
}

.listItemToggleSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  border: 3px solid #5e60ce;
  background: #5e60ce;
}

.listItemText,
.listItemTextSelected {
  width: 100%;
  text-align: justify;
  color: #f2f2f2;
}

.listItemTextSelected {
  text-decoration-line: line-through;
  color: #808080;
}

.listItemDeleteButton {
  display: flex;
  background-color: transparent;
  border: 0;
  color: #808080;
  cursor: pointer;
  transition: color 0.2s;
}

.listItemDeleteButton:hover {
  color: #e25858;
}

.listItemEditButton {
  display: flex;
  background-color: transparent;
  border: 0;
  color: #808080;
  cursor: pointer;
  transition: color 0.2s;
}

.listItemEditButton:hover {
  color: #13ce77;
}